.container {
  background-color: #f9f9fa;
  width: 100%;
  height: 100vh;
  overflow: scroll;
  background-attachment: fixed;
  scrollbar-width: none;
  -ms-overflow-style: none;
  display: flex;
  justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
}
 
.container::-webkit-scrollbar {
  display: none;
}
 
.containerInner {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}
 
.section {
  width: 100%;
  max-width: 80%;
  display: flex;
  flex-direction: column;
}
 
.logoSection {
  text-align: center;
  padding: 30px 0px 0px;
}
 
.logo {
  width: 360px;
  height: auto;
}
 
.headContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
 
.heading {
  font-size: 32px;
  font-weight: 500;
    color: #282F86;
}
 
.text {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
 
.CardContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 4rem;
}
 
.card {
  border: 2px solid transparent; /* Default border */
  transition: border-color 0.3s ease-in-out;
  cursor: pointer;
  width: 50%;
  border-radius: 4px;
  background: linear-gradient(to left, #f5f5f7, #e1f2ff);
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 30px;
  border-radius: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
}

.subscriptionContainer{
  display: flex;
      flex-direction: column;
      row-gap: 30px;
}
.activeCard {
    border: 2px solid #282F86 !important;
    box-shadow: 5px 10px 15px #282F86 !important;
}
.cardListSection {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
 
.cardHead {
  display: flex;
  flex-direction: column;
}
 
.cardMonthly {
  font-size: 26px;
  font-weight: 500;
    color: #282F86;
}
 
.cardManu {
  font-size: 14px;
  font-weight: 500;
}
 
.cardList {
  display: flex;
  flex-direction: column;
  row-gap: 26px;
  margin-bottom: 0px !important;
  padding-left: 1rem !important;
}
 
.cardListText {
  font-size: 16px;
  font-weight: 500;
}
 
.cardContent {
  font-size: 18px;
  font-weight: 500;
}
 
.cardSec {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 
.cardMonth {
  display: block;
  font-size: 14px;
    color: #282F86;
  margin-top: 20px;
}
 
.cardMoney {
  font-size: 30px;
  font-weight: 500;
  display: flex;
}
 
.button {
  background: linear-gradient(270deg, #00dcff, #0075ce);
  border-radius: 20px;
  color: #fff;
  column-gap: 8px;
  cursor: pointer !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  padding: 6px 16px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 10px;
}
 
@media screen and (max-width: 1140px) {
  .section {
    max-width: 94%;
  }
}
 
@media screen and (max-width: 991px) {
  .CardContainer {
    flex-direction: column;
    gap: 40px;
  }
  .card {
    width: 100%;
  }
  .logo {
    width: 300px;
  }
  .heading {
    font-size: 28px;
  }
  .br {
    display: none;
  }
}
 
@media screen and (max-width: 500px) {
  .heading {
    font-size: 22px;
    text-align: center;
  }
  .containerInner {
    gap: 40px;
    margin-top: 2rem;
  }
  .text {
    font-size: 16px;
  }
  .headContainer {
    gap: 10px;
  }
  .cardMonthly {
    font-size: 20px;
  }
  .cardMoney {
    font-size: 26px;
  }
  .cardMonth {
    font-size: 12px;
    margin-top: 16px;
  }
  .cardListText {
    font-size: 14px;
  }
  .cardList {
    row-gap: 16px;
    padding-left: 10px !important;
  }
  .card {
    row-gap: 20px;
  }
  .cardContent {
    font-size: 16px;
  }
  .cardListSection {
    flex-direction: column;
  }
}
 
@media screen and (max-width: 400px) {
  .cardMonthly {
    font-size: 16px;
  }
  .cardMoney {
    font-size: 22px;
  }
  .cardMonth {
    font-size: 11px;
    margin-top: 14px;
  }
  .card {
    padding: 20px 26px;
  }
}
 
/* ------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */
 
.container1 {
  background-color: #f9f9fa;
  width: 100%;
  height: 100vh;
  overflow: scroll;
  background-attachment: fixed;
  scrollbar-width: none;
  -ms-overflow-style: none;
  display: flex;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
}
 
.container1::-webkit-scrollbar {
  display: none;
}
 
.section1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
}
 
.logoSection1 {
  text-align: center;
  padding: 30px 0px 0px;
}
 
.logo1 {
  width: 360px;
  height: auto;
}
 
.card1 {
  border: 2px solid transparent;
  transition: border-color 0.3sease -in-out;
  cursor: pointer;
  width: 750px;
  background: linear-gradient(to left, #f5f5f7, #e1f2ff);
  padding: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  border-radius: 40px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
  align-items: center;
  text-align: center;
}
 
.cardHeading1 {
  font-size: 26px;
  font-weight: 500;
  color: #282f86;
}
 
.cardContent1 {
  font-size: 18px;
  font-weight: 500;
}
 
@media screen and (max-width: 767px) {
  .card1 {
    width: 100%;
  }
  .section1 {
    width: 92%;
  }
}
 
@media screen and (max-width: 575px) {
  .card1 {
    padding: 24px;
  }
  .logo1 {
    width: 300px;
  }
}