.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .page-link {
    display: inline-block;
    color: #282f86;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: color 0.15s;
  }  
  .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #282f86;
  }
  
  .page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: transparent;
    border-color: rgba(160, 175, 185, 0.15) !important;
  }