/* Style product.js section */
.productContainer {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  height: 100vh;
  overflow: scroll;
  background-attachment: fixed;
  scrollbar-width: none;
  -ms-overflow-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.productContainer::-webkit-scrollbar {
  display: none;
}

.productHead {
  color: #5e676f;
  padding-top: 5px;
  font-size: 20px;
  font-weight: 500;
}

.productButtonSection {
  display: flex;
  justify-content: space-between;
  /* column-gap: 20px; */
  padding-right: 12px;
}

.mainButtons {
  display: flex;
  column-gap: 20px;
}

.newProductButton {
  background-color: #f5f5f6;
  color: #99a0ac;
  padding: 8px 20px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer !important;
}

.secondaryButton {
  background-color: #ffffff;
  color: #99a0ac;
  padding: 8px 20px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer !important;
}

.active {
  color: #3b71ca;
  background-color: #e1e1e4;
}

/* End product.js section */

/* Start Product Card section */
.section {
  display: flex;
  justify-content: start;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 20rem;

  background: linear-gradient(to left, #f5f5f7, #e1f2ff);
  border-radius: 4px;
  padding: 50px 30px;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* Three cards per row */
  gap: 20px;
  /* Space between cards */
}

.mainSection {
  background-color: #fff;
  border-radius: 4px;

  cursor: pointer !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 455px;
  height: 100%;
  gap: 10px;
}

.head {
  color: #5e676f;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  top: -10%;
}

.buttonGroup {
  display: flex;
  column-gap: 15px;
}

.uploadButton {
  background: linear-gradient(to left, #00dcff, #0075ce);
  border-radius: 4px;
  color: #fff;
  cursor: pointer !important;
  font-size: 14px;
  padding: 6px 8px;
  border: none;
  outline: none;
}

.imgContainer {
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 1px 0 #11111a1a, 0 8px 24px #11111a1a, 0 16px 48px #11111a1a;
  display: flex;
  justify-content: center;
  transition: transform 0.3s ease;
  width: 80px;
  height: 80px;
}

.productIcon {
  width: 28px;
  cursor: pointer !important;
}

.mainCard {
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
  flex-direction: column;
  gap: 10px;
  padding: 24px 20px;
}

.cardImgSection {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.cardImg {
  display: flex;
  justify-content: center;
  width: 80px;
  height: 40px;
  overflow: hidden;
}

.productImg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.buttonContainer {
  width: 100%;
  display: flex;
  margin-top: 15px;
}
.cardButton {
  background: linear-gradient(to left, #00dcff, #0075ce);
  border-radius: 4px;
  color: #fff;
  column-gap: 8px;
  cursor: pointer !important;
  display: flex;
  font-size: 14px;
  padding: 6px 16px;
  border: none;
  outline: none;
  justify-content: center;
}

.cardContentSection {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.cardInnerContainer {
  display: flex;
  gap: 10px;
}

.cardMainHeading {
  color: #5e676f;
  font-size: 22px;
  font-weight: 500;
}

.cardHead {
  font-size: 0.825rem;
  font-weight: 500;
  min-width: 180px;
  color: #5e676f;
}

.cardText {
  color: #99a0ac;
  font-size: 0.825rem;
  line-height: 20px;
  width: 60%;
}

.paginationSection {
  margin-bottom: 20rem;
}

.noDataSection {
  /* background-color: #fff;
  border-radius: 4px;
   
  cursor: pointer !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 455px;
  height: 100%;
  gap: 10px;
  font-size: 14px;
    font-weight: 500; */
  padding: 20px;
  font-size: 1.2em;
  color: #666;
  grid-column: 1 / -1;
}

/* End Product Card section */
/* Start the media query */
@media (max-width: 1600px) {
  .cardHead {
    width: 20vw;
  }
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1240px) {
  .cardHead {
    width: 50%;
    min-width: 140px;
  }
  .cardMainHeading {
    font-size: 20px;
    line-height: 24px;
  }
}

/* Responsive design for smaller screens (e.g., mobile) */
@media (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .cardHead {
    width: 50%;
    min-width: 140px;
  }
}
