.iBAgfp {
    background-color: #f9f9fa !important;
    min-height: 0px !important;
    border: none !important;
    border-bottom-width: 0px !important; 
     border-bottom-color: currentColor !important; 
     border-bottom-style: unset !important;
}
.epPweP {
    padding: 8px 12px !important;
}
.jeTUMK {
    gap: 8px !important;
}
.bQYSAI {
    gap: 10px !important;
    background-color:#f9f9fa !important ;
}
.iurfkT:not(:last-of-type) {
    border-bottom-style: unset !important;
    border-bottom-width: 0px !important;
    border-bottom-color: #ffffff !important;
}
.iurfkT {
    font-size: 13px;
    font-weight: 500 !important;
   color: #99a0ac !important;
}
.epVYxW{
    background-color: #fff !important;
    border-radius: 4px !important;
    padding: 14px !important;
    width: 100% !important;
    justify-content: start !important;
    align-items:  start !important;
    box-shadow: 0 2px 5px -1px #32325d40, 0 1px 3px -1px #0000004d !important;
}