.gridContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
h4 {
  margin-bottom: 0px !important;
}
.card {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 5px -1px #32325d40, 0 1px 3px -1px #0000004d !important;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px 16px;
  width: 100%;
}
 
.container {
  margin-bottom: 26rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: white;
  margin-top: 25px;
  border-radius: 4px;
  padding: 30px;
}
 
.innerContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
 
.imageContainer {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  overflow: hidden;
 
}
 
.imageContainer img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}
 
.button {
  background: linear-gradient(to left, #00dcff, #0075ce);
  border: none;
  border-radius: 4px;
  color: #fff;
  column-gap: 8px;
  cursor: pointer !important;
  display: flex;
  font-size: 0.825rem;
  justify-content: center;
  outline: none;
  padding: 6px 10px;
}
.cardContentSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
 
.contentSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 72%;
}
 
.mainHeading {
  color: #5e676f;
  font-size: 20px;
  font-weight: 500;
}
 
.section {
  display: flex;
  gap: 10px;
}
 
.head {
  width: 140px;
  color: #5e676f;
  font-size: 0.825rem;
  font-weight: 500;
}
 
.text {
  color: #99a0ac;
  width: calc(100% - 150px);
  font-size: 0.825rem;
  line-height: 20px;
}
 
.noData {
  background-color: #fff;
  border-radius: 4px;
 
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 24px 32px;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
}
.buttonContainer {
  width: 100px;
  display: flex;
  justify-content: end;
}
 
@media screen and (max-width: 1300px) {
  .card {
    gap: 20px;
    padding: 24px 16px;
  }
 
  .button {
    font-size: 0.825rem;
  }
 
  .mainHeading {
    font-size: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .gridContainer {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
  /* .section {
    width: 26%;
  } */
}