/* react upload document */
.upload-area {
  width: 100%;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 26px 0px;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  cursor: pointer !important;
}
.upload-content-wrapper {
  display: flex;
  gap: 10px;
  justify-content: start;
  align-items: center;
}

.image-name {
  font-size: 14px;
  margin-top: 6px;
}

.image-uploader {
  position: relative;
  display: inline-block;
}

.upload-area {
  position: relative;
  cursor: pointer !important;
  text-align: center;
}
.image-file-name {
  width: 200px;
  -webkit-line-clamp: 1 !important;
  margin-right: 20px !important;
  -webkit-box-orient: vertical !important;
  display: -webkit-box !important;
  font-size: 12px !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: normal !important;
}
.uploaded-image {
  transition: transform 0.3s ease;
  width: 40px;
  height: 40px;
}

.remove-icon {
  position: absolute;
  right: 10px;
  cursor: pointer !important;
  width: 10px;
  height: 14px;
  color: #5e676f !important;
}

.upload-icon {
  width: 20px;
  cursor: pointer !important;
}

.image-uploader {
  position: relative;
}

.upload-area {
  cursor: pointer !important;
  padding: 11px !important;
  display: inline-block;
}
.upload-text {
  font-size: 13px;
  font-weight: 500 !important;
  cursor: pointer !important;
}
.uploaded-image {
  max-width: 100%;
  cursor: pointer !important;
}

.tooltip-container {
  top: 10px;
  right: 5px;
  cursor: pointer !important;
}

.emailInfoIcon {
  position: absolute;
  right: 1%;
  top: 24%;
  transform: translateY(-50%);
  font-size: 14px;
  cursor: pointer !important;
  z-index: 2;
}

.tooltipIcons {
  width: 14px;
  cursor: pointer !important;
}

/* start the modal code */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 5px;
  height: auto;
  width: 400px;
  overflow: auto;
  margin: auto;
}

.modal-image {
  width: 100%;
  height: auto;
}

.close {
  position: absolute;
  top: -6px;
  right: 8px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer !important;
}

.file-upload-container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.file-container {
  background-color: white;
  margin: 0.5rem 0px;
  padding: 0.5rem;
  border-radius: 4px;
}

.file-wrapper {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}
