.signupContainer {
  background-color: #ffffff;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.signupDocumentSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.signupAddButtonSection {
  display: flex;
  justify-content: end;
  margin-bottom: -30px;
}
.signupDocumentHead {
  border: none !important;
  outline: none !important;
background: linear-gradient(to left, #00dcff, #0075ce);
  color: white;
  padding: 6px 22px;
  border-radius: 4px;
  display: flex;
  justify-self: end;
  align-items: center;
  font-weight: 500;
  font-size: 0.825rem;
  cursor: pointer !important;
}
.documentInnerSection {
  display: flex;
  gap: 1rem;
  position: relative;
}
 
.crossIcon {
  position: absolute;
  top: 50%;
  right: -20px;
  width: 22px;
  height: 22px;
  padding: 6px;
  cursor: pointer !important;
  border: none;
  background: transparent;
  font-size: 20px;
  transform: translateY(168%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  z-index: 10;
}
 
.signupCrossButton {
  cursor: pointer !important;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signupLogoSection {
  width: 46%;
  display: flex;
  justify-content: center;
}
 
.signupLogoSection img {
  width: 100%;
  max-width: 70%;
  height: auto;
}
 
.signupFormSection {
  width: 52%;
  height: 100vh;
  overflow: scroll;
  background-attachment: fixed;
  scrollbar-width: none;
  -ms-overflow-style: none;
  background: linear-gradient(to left, #f5f5f7, #e1f2ff);
  padding: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.termsCondition {
  color:#3b71ca;;
  font-weight: 500 !important;
  cursor: pointer !important;
}
.signupFormSection::-webkit-scrollbar {
  display: none;
}
 
.signupFormContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: start;
}
.signupFormInnerDivSection {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: start;
}
.signupFormSectionDiv {
  width: 48.4%;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
 
.productInnerSection {
  width: 48.4%;
  display: flex;
  gap: 1rem;
  position: relative;
}
 
.productCrossButton{
  cursor: pointer !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.productCrossIcon{
  width: 22px;
  height: 22px;
  padding: 6px;
  cursor: pointer !important;
  border: none;
  background: transparent;
  font-size: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
 
.productLabelInputMainDiv{
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
 
.productCatalogeAddButtonSection {
  display: flex;
  justify-content: end;
  margin-bottom: 10px;
}
 
.labelCrossDiv{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
 
.signupProductCatalogSectionDiv{
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
 
.labelStamp {
  color:#5e676f;
} 
 
/* Style the signup form */
.signupFormSectionContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.signupFormSectionHeading {
      width: 100%;
    font-size: 20px;
    line-height: normal;
    font-weight: 500;
    max-width: 100%;
    margin: 0px auto;
    color: #5e676f;
}
.signupInnerHeading {
  font-size: 18px;
  color:#5e676f;
  font-weight: 500;
}
.signupFormSectionLabel {
    font-size: 0.825rem;
    font-weight: 500;
    color: #5e676f;
}
 
.signupFormSectionInput {
     width: 100% !important;
    color: #5e676f !important;
    border-radius: 4px !important;
    outline: none !important;
    border: none !important;
    margin-bottom: 0px !important;
    padding: 11px !important;
    font-size: 13px !important;
    border-color: transparent !important;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05) !important;
    appearance: none !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
}
.signupTooltipClass {
  /* display: flex; */
  position: relative;
}
.infoIcon {
  position: absolute;
  right: 1%;
  top: 16%;
  transform: translateY(-50%);
  font-size: 0.825rem;
  cursor: pointer !important;
  z-index: 2;
}
.emailInfoIcon {
  position: absolute;
  right: 1%;
  top: 24%;
  transform: translateY(-50%);
  font-size: 0.825rem;
  cursor: pointer !important;
  z-index: 2;
}
.tooltipIcons {
  width: 14px;
  cursor: pointer !important;
}
 
.signupFormContButton {
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 20px;
}
 
.signupFormButtonCancel {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05) !important;
  background-color: #ffffff;
  border: 1px solid #212121;
  color:#5e676f;
  padding: 6px 22px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 0.825rem;
  cursor: pointer !important;
}
 
.signupFormButtonSubmit {
  border: none !important;
  outline: none !important;
background: linear-gradient(to left, #00dcff, #0075ce);
  color: white;
  padding: 6px 22px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 0.825rem;
  cursor: pointer !important;
}
 
/* for button loader */
.signupFormButtonSubmit[disabled] {
  cursor: not-allowed;
  background-color: #ccc;
}
 
.loadingSpinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #000;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}
 
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
 
.signupErrors {
  font-size: 12px;
  color: #ff0000;
  margin-top: -4px;
}
 
@media screen and (max-width: 1400px) {
  .signupLogoSection {
    width: 40%;
  }
 
  .signupFormSection {
    width: 58%;
  }
 
  .signupFormSectionDiv {
    row-gap: 4px;
  }
}
 
@media screen and (max-width: 992px) {
  .signupLogoSection {
    display: none;
  }
 
  .signupFormSection {
    width: 100%;
    padding: 30px 20px;
  }
}
 
@media screen and (max-width: 580px) {
  .signupFormSectionDiv {
    width: 100%;
  }
 
  .signupFormSectionHeading {
    font-size: 22px;
    max-width: 100%;
  }
}