.container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
    max-width: 98%;
    height: 100vh;
    overflow: scroll;
    background-attachment: fixed;
    scrollbar-width: none;
    -ms-overflow-style: none;
    margin: auto;
    margin-bottom: 20rem !important;
}
.tableMainContainer{
    margin-bottom: 20rem;
    display: flex
;
    flex-direction: column;
    gap: 20px;
}
.mainInvoicecontainer {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 5px -1px #32325d40, 0 1px 3px -1px #0000004d !important;
    padding: 26px 20px;
    width: 100%;
}

.container::-webkit-scrollbar {
    display: none;
}

.header {
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 20px;
      font-weight: 500;

}

.button {
    border: none !important;
    outline: none !important;
background-color: #282f86;
    color: white;
    padding: 6px 22px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer !important;
}

.activeBtn {
    background-color: #31c971;
    border-radius: 4px;
    color: #fff;
    display: flex;
    padding: 2px 6px;
    align-items: center;
    justify-content: center;
    cursor: pointer !important;
}

.table-icon {
    cursor: pointer !important;
    font-size: 19px !important;
}

.no-data {
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    color: #4f4f4f !important;
    padding: 16px;
}

.buttonContainer {
    display: flex;
    gap: 10px;
    cursor: pointer !important;
}
.orderButton{
    border: none !important;
    outline: none !important;
    align-items: center;
   background-color: #282f86;
    border-radius: 4px;
    color: #fff;
    column-gap: 8px;
    cursor: pointer !important;
    display: flex
;
    font-size: 11px;
    padding: 6px 8px;
}