.invoiceMainContainer {
  background-color: #f9f9fa;
  width: 100%;
  height: 100vh;
  overflow: scroll;
  padding: 20px 0px;
  background-attachment: fixed;
  scrollbar-width: none;
  -ms-overflow-style: none;
   
}

.invoiceMainContainer::-webkit-scrollbar {
  display: none;
}

.invoiceSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.invoiceDownloadSection {
  display: flex;
  justify-content:end;
  cursor: pointer;
}

.invoiceDownload {
  display: flex;
  background: linear-gradient(to left, #00dcff, #0075ce);
  color: white;
  padding: 5px 18px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer !important;
}
.downloadButton span {
  font-size: 14px;
  font-weight: 500;
  cursor: pointer !important;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  border: 1px solid rgb(238, 238, 238);
  font-size: 16px;
  line-height: 24px;
  color: rgb(85, 85, 85);
  cursor: pointer !important;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;

}

.table {
  width: 100% !important;
  font-size: 14px;
  font-weight: 500;
  color: #4f4f4f;
}

.logoSection {
  width: 70%;
  vertical-align: baseline;
}

.logoSection p {
  padding-bottom: 4px;
}

.logoImage {
  max-width: 280px;
  margin-bottom: 20px;
}

.companyInfo p,
.billTo p,
.invoiceDetails p,
.serviceItem td,
.totalAmount p {
  font-size: 15px;
  font-weight: 500;
padding-bottom: 4px;
}

.serviceHeader th {
  font-size: 16px;
  padding: 8px 10px;
  color: #4f4f4f;
  font-weight: 500;
}

.serviceItem td {
  font-size: 14px;
  padding: 8px 10px;
}

.invoiceTitle {
  width: 300px;
  font-size: 38px;
  line-height: 38px;
  font-weight: 500;
  text-align: right;
}

.invoiceTitle p {
padding-bottom: 4px;
}

.bookingId {
  font-size: 14px;
  font-weight: 500;
  text-align: right;
}

.bookingId p {
  color: #4f4f4f;
}

.billTo {
  width: 40%;
  padding-right: 20px;
}

.billToName {
  font-size: 14px;
  font-weight: bold;
}

.invoiceDetails {
  text-align: right;
}

.serviceHeader {
  background-color: #f5f4f4;
  border-radius: 4px !important;
  color: #4f4f4f;
  font-size: 14px;
  padding: 12px 10px;
}

.serviceItem {
  border-bottom: 1px dotted rgb(153, 160, 172);
}

.totalAmountLabel {
  font-size: 15px;
  color: #4f4f4f;
  font-weight: 500;
  margin-bottom: 0px !important;
}

.totalAmountValue {
  font-size: 15px;
  color: #4f4f4f;
  font-weight: 500;
  margin-bottom: 0px !important;
}

.amountRightAlign {
  text-align: right;
}
.hideInPdf {
  display: none;
}