.container {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  width: 100%;
  height: 100vh;
  overflow: scroll;
  background-attachment: fixed;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin: auto;
}

.container::-webkit-scrollbar {
  display: none;
}

.heading {
  font-size: 20px;
  font-weight: 600;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.section {
  background-color: #ffffff;
  border-radius: 4px;
  padding: 26px 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.formHead {
  font-size: 18px;
  font-weight: 600;
}

.formSection {
  display: flex;
      gap: 10px;
      flex-wrap: wrap;
      width: 100%;
}

.productContainer {
  display: flex
  ;
      flex-direction: column;
      gap: 10px;
      width: 19.3%;
}

.formLabel {
  font-size: 14px;
    font-weight: 500;
}

.formInput {
  background-color: #fff !important;
  border: none !important;
  border-radius: 4px !important;
  box-shadow: 0 2px 5px -1px #32325d40, 0 1px 3px -1px #0000004d !important;
  font-size: 14px !important;
  outline: none !important;
  padding: 12px !important;
}

.error {}