.tableHeader {
  width: 100%;
  max-width: 90%;
  height: 60px;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonGroup {
  display: flex;
  column-gap: 15px;
}

.uploadButton {
  background: linear-gradient(270deg, #00dcff, #0075ce);
  border-radius: 4px;
  color: #fff;
  cursor: pointer !important;
  font-size: 14px;
  padding: 6px 8px;
  border: none;
  outline: none;
}

.headerContainer h3 {
  margin-bottom: 0px;
}

.errorBanner {
  font-size: 14px;
  color: red;
}

.container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
  max-width: 90%;
  height: 100vh;
  margin-bottom: 60px;
}

.tableContainer {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;
}

.cell {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #848991fa;
}

.errorCell {
  border: 2px solid red !important;
  background-color: #ffe6e6;
  padding: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
