.marketContainer{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
  max-width: 90%;
}

/* Button container */
.tabContainer{
    width: 100%;
    display: flex;
    justify-content: end;
    cursor: pointer !important;
}
.tabButton{
        border-radius: 4px !important;
       border: none !important;
      background-color: #ffffff !important;
       color: #99a0ac;
    padding: 6px 12px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    cursor: pointer !important;
}
.activeTab {
 background-color: #e1e1e4 !important;
    border-color: #dadade;
    color: #282f86;
}

/* Style for the icon inside the button */
.tabIcon {
  font-size: 24px;
      color: #99a0ac;
  cursor: pointer !important; /* Default icon color for inactive tab */
}

/* Ensure the icon in the active tab is black */
.activeTab .tabIcon {
 color: #282f86;
 cursor: pointer !important;
}

/* Hover effect for inactive tabs */
.tabButton:hover:not(.activeTab) {
  background-color: #e0e0e0; /* Slightly darker gray on hover */
}
@media (max-width: 1200px) {
.productContainer {
max-width: 100%;
}
}