.mySupplierMainContainer {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
  height: 100vh;
 
}
.mySupplierMainContainer::-webkit-scrollbar {
  display: none;
}
.container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mySupplierMainHead {
   color:#5e676f;
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
}

.mySupplierMainSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.mySupplierCardSection {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  border-radius: 4px;
  padding: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
}

.mySupplierCardFirstUpparSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  min-width: 120px;
}

.mySupplierImageSection {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mySupplierImageSection img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.mySupplierCardContentSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mySupplierNameHead {
  color:#5e676f;
  font-size: 22px;
  font-weight: 500;
}

.mySupplierCardFirstSection {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  width: 100%
}

.mySupplierInnerCardSection {
  flex: 1;
  min-width: 0; 
}

.mySupplierCardHeading {
  font-size: 14px;
  font-weight: 500;
  color:#5e676f;
}

.mySupplierCardText {
  width: 100%;
     color: #99a0ac;
  font-size: 13px;
  font-weight: 500;
}

.mySupplierCardButton {
  display: flex;
  justify-content: flex-end;
  flex-shrink: 0;
}

.mySupplierCardButtonDetails {
background: linear-gradient(to left, #00dcff, #0075ce);
  color: white;
  padding: 6px 16px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  column-gap: 8px;
  font-size: 14px;
  cursor: pointer !important;
}

.mySupplierError {
  background-color: #ffffff;
  padding: 12px;
  border-radius: 4px;
  width: 100%;
  text-align: left !important;
  color: #212121 !important;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: left !important;
  align-items: start !important;
}

.mySupplierPaginationSectionMain {
  margin-bottom: 8rem;
}

.mySupplierDescription {
  font-size: 14px;
}

