form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formHeadSection {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.formHead {
  font-size: 18px;
  font-weight: 500;
  color: #282f86;
}

.formAddButton {
  padding: 7px 10px;
  background: linear-gradient(to left, #00dcff, #0075ce);
  color: #fff;
  border-radius: 7px;
  border: 2px solid #282f86;
  cursor: pointer !important;
}

.formAddButton:hover {
  background-color: #fff;
  color: #282f86;
  border: 2px solid #282f86;
}

.formCloseSection {
  display: flex;
  justify-content: end;
  align-items: center;
  cursor: pointer !important;
  position: absolute;
  top: 70%;
  right: -16px;
  transform: translateY(-50%);
  cursor: pointer !important;
}

.formclose {
  padding: 7px 10px;
  background: linear-gradient(to left, #00dcff, #0075ce);
  color: #fff;
  border-radius: 7px;
  border: 2px solid #282f86;
  cursor: pointer !important;
}

.formSection {
  display: flex;
  gap: 15px 10px;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
}

.icon {
  width: 16px !important;
  height: 16px !important;
  cursor: pointer !important;
}

.productContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 24.1%;
}

.formLabel {
  font-size: 14px;
  font-weight: 500;
  color: #282f86;
  word-break: break-word;
}

.formInput {
  background-color: #fff !important;
  border: none !important;
  border-radius: 4px !important;
  box-shadow: 0 2px 5px -1px #32325d40, 0 1px 3px -1px #0000004d !important;
  font-size: 14px !important;
  outline: none !important;
  padding: 12px !important;
  position: relative !important;
  width: 100% !important;
}

.error {
  font-size: 12px;
  margin-top: -6px;
  color: red;
}

.tooltipSec {
  font-size: 11px !important;
  white-space: pre-line !important;
}

.tooltipContainer {
  display: flex;
  position: relative;
}

.infoTooltip {
  position: absolute;
  right: 2%;
  top: 20%;
  transform: translateY(-50%);
  font-size: 14px;
  cursor: pointer !important;
  z-index: 0;
}

.iconTooltip {
  width: 14px;
  cursor: pointer !important;
}

.labelStamp {
  font-size: 16px;
  color:#4f4f4f;
}

.logisticsButtonContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  column-gap: 20px;
  margin-bottom: 100px;
}
.logisticsAccept {
  padding: 7px 10px;
  background: linear-gradient(to left, #00dcff, #0075ce);
  color: #fff;
  border-radius: 7px;
  border: 2px solid #282f86;
}
.logisticsAccept:hover {
  background-color: #fff;
  color: #282f86;
  border: 2px solid #282f86;
}
.logisticsCancel {
  padding: 7px 10px;
  background-color: #fff;
  color: #282f86;
  border-radius: 7px;
  border: 2px solid #282f86;
  cursor: pointer !important;
}

@media (max-width: 1400px) {
  .productContainer {
    width: 32%;
  }
  .formCloseSection {
    top: 58%;
    right: -23px;
  }
}
