.thank-you-main-container{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    row-gap: 6px;
    border-radius: 4px;
    padding: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
}
.thank-you-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.thank-you-main-heading{
    font-size: 30px;
    font-weight: 500;
}
.thank-you-main-content{
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}