.actives-main-container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    height: 100vh;
    overflow: scroll;
    background-attachment: fixed;
    scrollbar-width: none;
  }
  .actives-container {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 1rem;
    margin-bottom: 20rem;
  }
  .actives-main-head {
    font-size: 20px;
      font-weight: 500;
    margin-top: 10px;
  }
  
  .actives-container-right-2 {
    width: 100%;
    max-width: 100%;
  }
  .actives-table-view {
    background-color: #31c971 !important;
    display: flex;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
     cursor: pointer !important;;
    color: #ffffff !important;
  }
  
  .actives-table-view:hover {
    background-color: #31c971 !important;
  }
  
  .table-icon {
    font-size: 19px !important;
    color: #ffffff;
     cursor: pointer !important;
  }
  
  .actives-table-btn {
    display: flex;
    justify-content: start;
    gap: 1.5rem;
    height: 60px;
    align-items: center;
  }
  .actives-table-row-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 1rem;
    background-color: #ffffff;
  }
  
  .actives-header-text-color {
       color: #99a0ac;
    font-size: 0.825rem;
      font-weight: 500;
    background-color: transparent !important;
  }
  
  .actives-table-text-color {
    color:#5e676f;
    font-size: 0.825rem;
  }
  
  .actives-table-text-color-2 {
       color: #99a0ac;
    font-size: 0.825rem;
  }
  
  .actives-table-order-1 {
    width: 14%;
    background-color: transparent !important;
    color: #212121 !important;
    font-size: 0.825rem;
  }
  
  .actives-table-order-2 {
    width: 26%;
    background-color: transparent !important;
    color: #212121 !important;
    font-size: 0.825rem;
  }
  
  .actives-pagi-container {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
  }
  
  .actives-pagi-total {
       color: #99a0ac;
    font-size: 0.825rem;
  }
  
  .pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .page-link {
    display: inline-block;
    color: #282f86;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: color 0.15s;
  }
  
  .page-link:hover {
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
  }
  
  .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background: linear-gradient(to left, #00dcff, #0075ce);
  }
  
  .page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: transparent;
    border-color: rgba(160, 175, 185, 0.15) !important;
  }
  
  /* Add media quries from here  */
  
  @media screen and (max-width: 1200px) {
    .table-responsive-xxl {
      width: 900px !important;
      margin: auto;
    }
  
    .actives-table-responsive {
      width: 1800px;
      overflow-y: scroll;
    }
  }
  
  @media screen and (max-width: 992px) {
    .table-responsive-xxl {
      width: unset !important;
      margin: auto;
    }
    .actives-name-2 {
      display: block;
    }
  
    .actives-name {
      display: none;
    }
  
    .actives-container {
      position: relative;
    }
  
    .actives-container-left {
      display: none;
    }
  
    .actives-table-responsive {
      width: 1300px;
    }
  }
  