.buyer-details-container {
    width: 100%;
    height: 100vh;
    overflow-x: scroll;
    max-width: 98%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin: auto;
}
.buyer-details-container::-webkit-scrollbar {
    display: none;
}
.certificate-expiry-date{
    font-size: 12px;
    font-weight: 500;
}
.buyer-details-edit-button-container{
width: 100%;
display: flex;
justify-content: space-between;
gap: 20px;
margin-top: 20px;
}
.buyer-details-product-list-section{
    display: flex;
    gap: 10px;
}

.buyer-details-edit-button{
    background: linear-gradient(270deg, #00dcff, #0075ce);
    border-radius: 4px;
    color: #fff;
    column-gap: 8px;
    cursor: pointer !important;
    display: flex
;
    align-items: center;
    font-size: 14px;
    padding: 6px 16px;
}
.editable-details {
    text-align: end;
font-size: 13px;
line-height: 0px;
outline: none !important;
color: #99a0ac !important;
border: 1px solid #99a0ac;
width: 100%;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
padding: 2px;
border-radius: 4px;
}
.edit-icon {
    cursor: pointer !important;
    margin-left: 10px;
}

.pdf-url{
    cursor: pointer !important;
    text-decoration: none !important;
    font-size: 12px !important;
    color: #5e676f !important;
}

.buyer-details-button-text{
    background-color: #31c971;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    padding: 3px 14px;
    align-items: center;
    justify-content: center;
    cursor: pointer !important;
}
.buyer-details-inner-text-button{
    background-color: #31c971;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    padding: 3px 14px;
    align-items: center;
    justify-content: center;
    cursor: pointer !important;
}
.buyer-details-account-container-section{
    background-color: #ffffff;
    width: 50%;
    padding: 28px 34px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.buyer-details-pdf-section,
.buyer-details-docx-section{
    display: flex;
    gap: 14px;
    flex-direction: column;
}
.buyer-details-container-heading{
    font-size: 20px;
    font-weight: 500;
}
.buyer-details-inner-conatiner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.buyer-details-main-head {
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}
.buyer-details-uppar-main-logo-section{
    display: flex;
    width: 100%;
    height: 100%;
    gap: 1rem;
    justify-content: space-between;
}
.buyer-details-left-inner-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.buyer-details-left-uppar-section {
    display: flex;
        width: 100%;
        justify-content: start;
        flex-direction: column;
        row-gap: 4px;
        height: 100%;
}

.buyer-details-left-company-type {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.buyer-details-left-company-type-head {
    font-size: 16px;
    font-weight: 500;
}

.buyer-details-uppar-main-containers {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: white;
    padding: 28px 34px;
    border-color: transparent;
    position: relative;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.buyer-details-bank-container{
    width: 100%;
    display: flex;
    gap: 20px;
}
.buyer-details-company-logo-container{
    width: 20vw;
    height: auto;
    display: flex;
    background-color: white;
    padding: 30px 28px;
    border-color: transparent;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    justify-content: center;
    border-radius: 4px;
    align-items: center;
}
.buyer-details-uppar-right-main-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.buyer-details-company-type-sec-head{
    font-size: 14px;
    font-weight: 500;
}
.buyer-details-company-type-sec-text{
    font-size: 14px;
    color: #99a0ac;
}
.buyer-details-company-type-section{
    background-color: #ffffff;
    width: 50%;
    padding: 28px 34px;
    border-radius: 4px;
}
.buyer-details-company-logo-section{
    width: 140px;
    height: auto;
}
.buyer-details-uppar-right-container-section{
    display: flex;
        justify-content: start;
        gap: 16px;
    }
.buyer-details-company-logo-section img{
    width: 100%;
    height: 10vh;
}
.buyer-details-description-section {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 28px 34px;
    border-color: transparent;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    flex-direction: column;
    row-gap: 4px;
}
.buyer-details-bank-section{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 28px 34px;
    border-color: transparent;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    flex-direction: column;
    row-gap: 4px;
    width: 50%;
}

.buyer-details-upper-section-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}
.buyer-details-left-link-head{
    font-size: 15px;
    font-weight: 500;
    color: #282f86 !important;
    cursor: pointer !important;
}

.buyer-details-description-head {
    font-size: 14px;
    font-weight: 500;
}

.buyer-details-description-content {
    font-size: 13px;
    color: #99a0ac;
}

.buyer-details-left-uppar-head {
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
}

.buyer-details-left-inner-sec-text {
    font-size: 14px;
    color: #99a0ac;
}

.buyer-details-left-inner-mobile-button {
    background-color: #31c971;
    border-radius: 4px;
    color: #ffffff;
    width: 34px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
     cursor: pointer !important;;
}

.buyer-details-left-inner-email-button {
    background-color: #f4c414;
    border-radius: 4px;
    color: #ffffff;
    width: 34px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
     cursor: pointer !important;;
}

.buyer-details-left-inner-icon {
    width: 18px !important;
}

.buyer-details-left-company-type-text {
    align-items: center;
    background: linear-gradient(270deg, #00dcff, #0075ce);
    border: none !important;
    border-radius: 4px;
    color: #fff;
    column-gap: 8px;
    cursor: pointer !important;
    display: flex;
    font-size: 14px;
    outline: none !important;
    padding: 4px 12px;
}

.buyer-details-left-inner-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.buyer-details-left-inner-img-container {
    display: flex;
    column-gap: 10px;
    margin-right: 8px;
}

.buyers-details-section {
    display: flex;
    background-color: white;
    padding: 28px 34px;
    border-color: transparent;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    gap: 2rem;
}
.buyer-details-inner-left-section{
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}
.buyer-details-inner-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.buyer-details-name {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

.buyer-details-card-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.buyer-details-uppar-card-section {
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.buyer-details-uppar-card-inner-section {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 20px;
    background-color: white;
    padding: 28px 34px;
    border-color: transparent;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    width: 100%;
}
.pdf-url,
.docx-url{
    font-size: 12px !important;
    white-space: normal !important;
    word-wrap: break-word !important;
    word-break: break-word !important;
    overflow-wrap: break-word !important;
}
.expiry-date{
    font-size: 12px;
    font-weight: 500;
}
.buyer-details-card-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 14px;
    width: 48%;
    
}
.buyer-details-company-logo-heading{
    font-size: 14px;
    font-weight: 500;
}
.buyer-details-inner-head {
    font-size: 14px;
    font-weight: 500;
    min-width: 240px;
}
.buyer-details-company-img-container{
    display: flex;
    height: auto;
    gap: 1rem;
}
.buyer-details-image-section{
    width: 150px;
}
.buyer-details-company-img-container img{
    width: 100%;
  height: auto;
}

.buyer-details-inner-text {
    font-size: 13px;
    color: #99a0ac;
    text-align: end;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.buyer-details-card-container-contents {
    display: flex;
    flex-direction: column;
}

.buyer-details-card-conteianer-head {
    color: #5e676f !important;
    font-size: 14px;
    font-weight: 500;
    text-align: start;
     cursor: pointer !important;;
}

.buyer-details-card-conteianer-text {
    font-size: 14px;
    color: #99a0ac;
    text-align: start;
}

.buyer-details-card-image-section {
    border: 1px solid #99a0ac;
    padding: 6px 10px;
    border-radius: 4px;
}

.buyer-details-card-image-section img {
    width: 24px;
}

.buyer-details-left-inner-icon {
    color: white;
}

/* Style the table container */
.supply-table {
    width: 100% !important;
}

.supply-button-td {
    width: 4vw;
}

.table-supply-section-view {
    background-color: #31c971;
    border-radius: 4px;
    color: #ffffff;
    width: 34px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-supply-section-eye {
    width: 18px !important;
}

.supply-card-body {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.table-assign-supply-heading {
    font-size: 18px;
    font-weight: 500;
}

.supply-table-tbody {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.supply-td {
    padding: 16px 20px;
    width: 14vw;
}

.supply-tdss {
    padding: 16px 20px;
    width: 14vw;
    font-size: 13px;
    font-weight: 500;
}

.supply-button-tdss {
    width: 4vw;
    font-size: 13px;
    font-weight: 500;
}

.supply-table-tr {
    background-color: white;
    border-radius: 4px;
    border-color: transparent;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.table-supply-section-content {
    display: flex;
    flex-direction: column;
}

.table-g-supply-name {
    font-size: 14px;
    font-weight: 500;
}

.table-g-supply-text {
    font-size: 13px;
    color: #99a0ac;
}

.supply-details-thead-section {
    display: flex;
    width: 100%;
}

.buyer-details-left-inner-icon {
     cursor: pointer !important;;
    /* Ensure cursor changes to pointer on hover */
}

.buyer-tooltip {
    width: 250px !important;
    font-size: 12px !important;
    visibility: hidden !important;
    background-color: black !important;
    color: white !important;
    text-align: center !important;
    border-radius: 4px !important;
    padding: 6px 10px !important;
    z-index: 1 !important;
    position: absolute !important;
    top: 17.8% !important;
    right: 30% !important;
    transform: translateX(160%) !important;
    opacity: 0 !important;
    transition: opacity 0 3s !important;
}

.buyer-tooltip::after {
    content: "" !important;
    position: absolute !important;
    top: 100% !important;
    left: 50% !important;
    border-width: 4px !important;
    border-style: solid !important;
    border-color: #292929 transparent transparent transparent !important;
}

.buyer-details-left-inner-mobile-button:hover .tooltip,
.buyer-details-left-inner-email-button:hover .tooltip {
    visibility: visible !important;
    opacity: 1 !important;
}

.buyer-details-button-containers{
    margin-top: 20px;
    margin-bottom: 12rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.buyer-details-button-reject{
    background-color: #fff;
    border: 1px solid #5e676f;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05) !important;
    color: #5e676f;
    align-items: center;
     cursor: pointer !important;;
    display: flex;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    padding: 6px 22px;

}
.buyer-details-button-accept{
    background: linear-gradient(270deg, #00dcff, #0075ce);
    border: none !important;
    border-radius: 4px;
    color: #fff;
    outline: none !important;
    align-items: center;
     cursor: pointer !important;;
    display: flex;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    padding: 6px 22px;
}

/* start the media query */
@media screen and (max-width: 1420px) {
    .buyer-details-container {
        max-width: 96%;
    }
    .buyer-details-uppar-card-section {
        gap: 14px;
    }

    .buyer-details-inner-head {
        font-size: 14px;
    }
}
@media screen and (max-width: 1340px) {
.buyer-details-company-img-container {
    flex-wrap: wrap;
}
.buyer-details-pdf-section, .buyer-details-docx-section {
    width: 44%;
}
}
@media screen and (max-width: 992px) {
    .buyer-details-inner-conatiner {
        flex-direction: column;
    }

    .buyer-details-left-inner-container {
        width: 100%;
    }

    .buyers-details-section {
        width: 100%;
        gap: 2rem;
    }
    .buyer-details-card-section {
        width: 100%;
    }

    .buyer-details-card-container {
        width: 48%;
    }

    .supply-td {
        width: 30vw;
    }

    .supply-tdss {
        width: 30vw;
    }

    .supply-card-body {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 560px) {
    .supply-order-list-main-section {
        width: 550px;
    }
}