.container {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  width: 100%;
  height: 100vh;
  overflow: scroll;
  background-attachment: fixed;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin: auto;
}

.container::-webkit-scrollbar {
  display: none;
}

.headContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bulkButton {
  border: none !important;
  outline: none !important;
  align-items: center;
  background: linear-gradient(to left, #00dcff, #0075ce);
  border-radius: 4px;
  color: #fff;
  column-gap: 8px;
  cursor: pointer !important;
  display: flex;
  font-size: 0.825rem;
  margin-right: 18px;
  padding: 6px 16px;
}

.heading {
  font-weight: 500;
  font-size: 20px;
  color: #5e676f;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section {
  width: 100%;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 26px 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.additionalSection {
  width: 100%;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 26px 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.innerProductContainer {
  width: 100%;
  /* background-color: #ffffff; */
  border-radius: 4px;
  /* padding: 26px 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important; */
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.innerSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.innerMonitorSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formHeadSection {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.formHead {
  font-size: 16px;
  font-weight: 500;
  color: #5e676f;
}

.formAddButton {
  align-items: center;
  background: linear-gradient(to left, #00dcff, #0075ce);
  border-radius: 4px;
  color: #fff;
  column-gap: 8px;
  cursor: pointer !important;
  display: flex;
  font-size: 0.825rem;
  margin-right: 18px;
  padding: 6px 16px;
}

.formCloseSection {
  display: flex;
  justify-content: end;
  align-items: center;
  cursor: pointer !important;
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  cursor: pointer !important;
}

.formclose {
  box-shadow: 0 2px 5px -1px #32325d40, 0 1px 3px -1px #0000004d !important;
  padding: 4px 8px;
  font-size: 0.825rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  font-weight: 500;
  cursor: pointer !important;
}

.formSection {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
}

.icon {
  width: 16px !important;
  height: 16px !important;
  cursor: pointer !important;
}

.productContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 24.1%;
}

.productContainer2 {
  display: flex;
  /* flex-direction: column; */
  gap: 10px;
  width: 24.1%;
}

.productContainer3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 47.5%;
}

.ImageproductContainer {
  display: flex;
  gap: 10px;
  width: 100%;
}
.productTextContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 65%;
}
.descriptionContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.productTextContainer2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 98%;
}

.productInnerContainer {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  width: 20vw;
}

.formInnerSection {
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
}

.formCheckboxSection {
  display: flex;
  align-items: baseline;
  gap: 10px;
  padding: 10px;
}

.checkText {
  font-size: 0.825rem;
  font-weight: 500;
  word-break: break-word;
}

.formLabel {
  color: #5e676f;
  font-size: 0.825rem;
  font-weight: 500;
}

.formInput {
  outline: none !important;
  border: none !important;
  background-color: #ffffff !important;
  padding: 10.4px !important;
  font-size: 0.825rem !important;
  color: #5e565f !important;
  border-radius: 4px !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
}
.formTextarea {
  outline: none !important;
  height: 80px !important;
  border: none !important;
  background-color: #ffffff !important;
  padding: 10.4px !important;
  font-size: 14px !important;
  color: #5e565f !important;
  border-radius: 4px !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
}
.formDate {
  box-shadow: 0 2px 5px -1px #32325d40, 0 1px 3px -1px #0000004d !important;
  background-color: #fff !important;
  border: none !important;
  border-radius: 4px !important;

  font-size: 14px !important;
  outline: none !important;
  padding: 9px !important;
}
.sideLabel {
  font-size: 16px;
  color: #5e565f;
  font-weight: 500;
}
.sectionCompliances {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.compliancesContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.documentContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 26px 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
}

.uploadLabel {
  font-size: 0.825rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin-top: 4px;
}

.formStockContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.customFileInput {
  background-color: #fff !important;
  border: none !important;
  border-radius: 4px !important;

  font-size: 14px !important;
  outline: none !important;
  padding: 12px !important;
}

.error {
  font-size: 12px;
  margin-top: -6px;
  color: red;
}

/* Start the Upload Section design */
.uploadBox {
  box-shadow: 0 2px 5px -1px #32325d40, 0 1px 3px -1px #0000004d !important;
  background-color: #fff !important;
  border: none !important;
  border-radius: 4px !important;
  font-size: 14px !important;
  outline: none !important;
  padding: 12px !important;
  position: relative !important;
  width: 100% !important;
  height: 48px !important;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  cursor: pointer !important;
  align-items: center;
}

.uploadBox:hover {
  border-color: rgb(40, 47, 134);
}

.uploadIcon {
  width: 30px;
  color: #99a0ac;
  font-size: 0.825rem;
  cursor: pointer !important;
}

.uploadText {
  font-size: 0.825rem;
  color: #99a0ac;
  cursor: pointer !important;
}

.previewContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/* End the Upload Section design */

/* Start the stock quantity section */
.tooltipSec {
  font-size: 11px !important;
  white-space: pre-line !important;
}

.productQuantityContainer {
  display: flex;
  align-items: baseline;
}

.quantitySection {
  display: flex;
  align-items: center;
}

.quantityButton {
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  border-left: none;
  padding: 5px 10px;
  border-radius: 0 4px 4px 0;
  cursor: pointer !important;
}

.quantityButton.selected {
  background: linear-gradient(to left, #00dcff, #0075ce);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #fff;
  column-gap: 8px;
  cursor: pointer !important;
  display: flex;
  align-items: center;
  font-size: 0.825rem;
  padding: 10px 16px;
  position: relative;
  right: 50px;
}

.quantityInput {
  width: 20vw !important;
  outline: none !important;
  border: none !important;
  background-color: #ffffff !important;
  color: #212121 !important;
  padding: 10px !important;
  font-size: 14px !important;
  border-radius: 4px !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
}

.radioForm {
  display: flex;
  gap: 14px;
  position: relative;
  right: 32px;
  width: 100%;
}

.radioForm label {
  display: flex;
  align-items: center;
  cursor: pointer !important;
  outline: none !important;
  border: none !important;
  background-color: #ffffff !important;
  padding: 10px !important;
  font-size: 14px !important;
  border-radius: 4px !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
}

.radioForm input[type="radio"] {
  margin-right: 5px;
}
.weightContainer {
  display: flex;
  gap: 10px;
  width: 100%;
}
.weightSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.unitSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/* End the stock quantity section */

.tooltipContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 10px;
}

.infoTooltip {
  position: absolute;
  right: 1%;
  top: 8%;
  font-size: 0.825rem;
  cursor: pointer !important;
  z-index: 0;
}

.iconTooltip {
  width: 14px;
  cursor: pointer !important;
}

/* Style image preview setion */
.uploadSection {
  margin-bottom: 20px;
}

.previewContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.filePreview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80px;
  padding: 16px 8px;
  background-color: #f9f9f9;
  text-align: center;
  border: none !important;
}

.previewImage {
  width: 60px;
  height: auto;
}

.fileName {
  margin-top: 8px;
  font-size: 10px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  line-height: 13px;
  word-break: break-word;
}
.fileIcon {
  color: rgb(40, 47, 134);
}

.removeIcon {
  margin-top: 6px;
  width: 14px !important;
  cursor: pointer !important;
}

.removeButton {
  position: absolute;
  top: -10px;
  padding: 0px !important;
  right: 0px;
  border: none;
  background: transparent;
  cursor: pointer;
  color: #4f4f4f;
  cursor: pointer !important;
}
.filePreviewContainer {
  display: flex;
  gap: 10px;
}
/* End image preview section */

/* Start the button section */
.buttonContainer {
  margin-bottom: 20rem;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 14px;
}

.buttonCancel {
  background-color: #fff;
  border: 1px solid #212121;
  border-radius: 4px;
  box-shadow: 0 1px 2px #0000000d !important;
  color: #4f4f4f;
  align-items: center;
  cursor: pointer !important;
  display: flex;
  font-size: 0.825rem;
  font-weight: 500;
  padding: 6px 22px;
}

.buttonSubmit {
  background: linear-gradient(to left, #00dcff, #0075ce);
  border: none !important;
  border-radius: 4px;
  color: #fff;
  outline: none !important;
  align-items: center;
  cursor: pointer !important;
  display: flex;
  font-size: 0.825rem;
  font-weight: 500;
  padding: 6px 22px;
}

/* End the button section */

/* Bulk Upload section */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999999;
}

.modalContent {
  background: white;
  padding: 30px;
  border-radius: 4px;
  width: 450px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.modalTitle {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 14px;
}

.fileInputWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.modalInnerSection {
  background-color: #fff !important;
  align-items: center !important;
  border: none !important;
  border-radius: 4px !important;

  font-size: 14px !important;
  outline: none !important;
  padding: 12px !important;
  position: relative !important;
  width: 100% !important;
  display: flex;
  gap: 10px;
  cursor: pointer !important;
}

.fileInput {
  opacity: 0;
  position: absolute;
  cursor: pointer !important;
}
.fileModalName {
  font-size: 0.825rem;
  font-weight: 500;
  text-align: start;
}
.placeholderText {
  font-size: 0.825rem;
  color: #888;
}
.modalButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  gap: 10px;
}
.modalHeadContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.closeButton {
  border: none;
  font-size: 20px;
  cursor: pointer;
  background-color: #fff !important;
  align-items: center !important;
  border: none !important;
  border-radius: 4px !important;

  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  cursor: pointer !important;
}

.closeButton:hover {
  color: #000;
}
.labelStamp {
  font-size: 16px;
  color: #4f4f4f;
}
.labelStamp2 {
  font-size: 16px;
  visibility: hidden;
  color: #4f4f4f;
}
/* End bulk upload section */

@media (max-width: 1580px) {
  /* .compliancesContainer {
    width: 19vw;
  } */
}

@media (max-width: 1400px) {
  /* .compliancesContainer {
    width: 25vw;
  } */
  .productContainer {
    width: 32%;
  }
  .formCloseSection {
    top: 58%;
    right: -23px;
  }
}

@media (max-width: 1160px) {
  /* .compliancesContainer {
    width: 23.8vw;
  } */
}

.create-invoice-inner-form-section {
  background-color: #fff;
  border-radius: 4px;
  padding: 30px 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.create-invoice-div-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 23.8%;
  row-gap: 6px;
}

.create-invoice-div-container-description {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 49%;
  row-gap: 6px;
}

.create-invoice-div-label {
  font-size: 0.825rem;
  font-weight: 500;
}

.create-invoice-div-input {
  outline: none !important;
  border: none !important;
  background-color: #ffffff !important;
  padding: 12px !important;
  font-size: 14px !important;
  border-radius: 4px !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
}

.craete-invoices-button {
  display: flex;
  width: 100%;
  justify-content: center;
  column-gap: 20px;
  margin-top: 30px;
  margin-bottom: 120px;
}

.create-invoices-cancel {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05) !important;
  background-color: #ffffff;
  border: 1px solid #5e676f;
  color: #5e676f;
  padding: 6px 22px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 0.825rem;
  cursor: pointer;
}

.create-invoices-submit {
  border: none !important;
  outline: none !important;
  background: linear-gradient(to left, #00dcff, #0075ce);
  color: white;
  padding: 6px 22px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 0.825rem;
  cursor: pointer;
}

/* for button loader */
.create-invoices-submit[disabled] {
  cursor: not-allowed;
  background-color: #ccc; /* Change to your desired disabled color */
}

.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #000; /* Spinner color */
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
/* for button loader */
.stockedContainer {
  width: 100%;
  display: flex;
  gap: 10px;
}
.stockedContainer2 {
  width: 100%;
  display: flex;
  gap: 10px;
  padding: 24px 0px;
}
.stockedContainer3 {
  width: 100%;
  gap: 10px;
  margin-bottom: 16px;
  padding: 2px 0px;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1) !important; /* Only bottom shadow */
}
.stockedSection {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  position: relative;
}
.stockedSection2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
.StockedDiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 24.1%;
}
.StockedDiv2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.StockedDivQuantity {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
}
.inputStocked {
  width: 100% !important;
  outline: none !important;
  border: none !important;
  background-color: #ffffff !important;
  padding: 10.4px !important;
  font-size: 14px !important;
  color: #5e565f !important;
  border-radius: 4px !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
}
/* start the radio deisgn */
.quantitySelector {
  width: 100%;
  display: flex;
  align-items: baseline;
}

.inputGroup {
  display: flex;
  align-items: center;
  width: 40vw;
}

.inputGroup2 {
  display: flex;
  align-items: center;
  width: 100%;
}

.quantityInput {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  text-align: center;
}

.optionButton {
  background: linear-gradient(270deg, #00dcff, #0075ce);
  border-radius: 4px;
  outline: none !important;
  border: none !important;
  color: #fff;
  column-gap: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 0.825rem;
  padding: 10.4px 20px;
  position: relative;
  right: 50px;
}

.optionButton.selected {
  background: linear-gradient(270deg, #00dcff, #0075ce);
  border-radius: 4px;
  color: #fff;
  column-gap: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 0.825rem;
  padding: 10px 16px;
  position: relative;
  right: 50px;
}

.radioGroup {
  display: flex;
  gap: 14px;
  position: relative;
  right: 32px;
  width: 100%;
}

.radioGroup label {
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: none !important;
  border: none !important;
  background-color: #ffffff !important;
  padding: 10px !important;
  font-size: 14px !important;
  border-radius: 4px !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
}

.radioGroup input[type="radio"] {
  margin-right: 5px;
}

.radioGroup2 {
  display: flex;
  gap: 14px;
  position: relative;
  right: 0px;
  width: 100%;
}

.radioGroup2 label {
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: none !important;
  border: none !important;
  background-color: #ffffff !important;
  padding: 10px !important;
  font-size: 14px !important;
  border-radius: 4px !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
}

.radioGroup2 input[type="radio"] {
  margin-right: 5px;
}
.formclosebutton {
  padding: 4px 8px;
  border-radius: 4px;
  display: flex;
  font-weight: 500;
  cursor: pointer !important;
}
.formclosebutton2 {
  padding: 36px 8px;
  border-radius: 4px;
  display: flex;
  align-items: flex-start;
  font-weight: 500;
  cursor: pointer !important;
}
.iconClose {
  box-shadow: 0 2px 5px -1px #32325d40, 0 1px 3px -1px #0000004d !important;
  width: 24px !important;
  height: 24px !important;
  padding: 4px !important;
  cursor: pointer !important;
}
