/* Import Ubuntu font (optional if already in index.html) */
/* @import url("https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap"); */

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif; /* Prioritize Ubuntu */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Ubuntu', sans-serif;
}

/* MultiSelectDropdown CSS */
.css-1dyz3mf {
  height: 80px !important;
  overflow-y: auto !important;
  font-family: 'Ubuntu', sans-serif !important; /* Ensure Ubuntu font */
}

/* Select Dropdown CSS */
.css-hlgwow {
  padding: 1px 8px !important;
  font-family: 'Ubuntu', sans-serif !important; /* Ensure Ubuntu font */
}