/* Import Ubuntu font (optional if already in index.html) */
/* @import url("https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap"); */

body {
  margin: 0;
font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
   
}

/* MultiSelectDropdown CSS */
.css-1dyz3mf {
  height: 80px !important;
  overflow-y: auto !important;
    /* Ensure Ubuntu font */
}

/* Select Dropdown CSS */
.css-hlgwow {
  padding: 1px 8px !important;
    /* Ensure Ubuntu font */
}