.container {
  width: 100%;
  max-width: 90%;
  margin: auto;
  padding: 20px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#conditionToDownload {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.title {
  color:#4f4f4f;
  text-align: center;
  margin-bottom: 10px !important;
}
.psection{
   color: #99a0ac;
    font-size: 16px;
    font-weight: 500;
}
.list{
    padding-left: 36px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.list li{
  font-size: 16px;
     color: #99a0ac;
  font-weight: 500;
}
.strong{
  font-weight: 600 !important;
  color: #212121 !important;
}
.sectionTitle {
  font-size: 24px;
  margin-top: 10px;
  color:#4f4f4f;
}

.sectionContentTitle {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color:#4f4f4f;
  font-weight: 500;
}

.termscondition {
      color:#3b71ca;;
    font-weight: 600 !important;
    font-size: 24px !important;
    cursor: pointer !important;
    background-color: whitesmoke;
    padding: 8px;
    border-radius: 4px;
}

.signupFormContButton {
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 20px;
}
.signupFormButtonSubmit {
  border: none !important;
  outline: none !important;
background: linear-gradient(to left, #00dcff, #0075ce);
  color: white;
  padding: 6px 22px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer !important;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: scroll;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalBox {
  background: white;
  width: 80%;
  height: 600px;
  overflow: scroll;
  background-attachment: fixed;
  scrollbar-width: none;
  margin: auto;
  padding: 20px 40px;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.closeButton {
  background: none;
  border: none;
  font-size: 30px;
  position: absolute;
  top: -10px;
  right: 10px;
  cursor: pointer !important;
}

.headSection {
  display: flex;
  justify-content: end;
  cursor: pointer !important;
}

.conditionDownload {
  display: flex;
background: linear-gradient(to left, #00dcff, #0075ce);
  color: white;
  padding: 5px 18px;
  border-radius: 4px;
  font-size: 14px;
  border: none !important;
  cursor: pointer !important;
}

.termsContainer {
    display: flex
;
    flex-direction: column;
    gap: 16px;
}
.Containers{
      display: flex
;
    flex-direction: column;
    gap: 14px;
}
.link{
  color:#3b71ca;;
}
.loading-spinner {
  border: 2px solid #ffffff;
  border-left-color: #fff; /* Spinner color */
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
