.nav_container {
  width: 100%;
  background-color: #f7f7f7;
  padding: 10px 0px;
  position: fixed;
  z-index: 1;
}

.nav_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.nav_img {
  padding: 0px 10px;
}

.nav_img img {
  width: 180px;
}

.nav_icon_color {
  color: #99a0ac;
  font-size: 22px !important;
  cursor: pointer !important;
}

.nav_icon_color_two {
  color: #99a0ac;
  font-size: 22px !important;
  cursor: pointer !important;
}

.nav_notifi_right .nav_icon_color_two {
  display: none !important;
  color: #99a0ac;
  font-size: 22px !important;
  cursor: pointer !important;
}

.nav_icon_color_two_3 {
  color: #99a0ac;
  font-size: 22px !important;
  cursor: pointer !important;
  display: none !important;
}

.nav_search_container {
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 10px;
  align-items: center;
  padding-right: 14px;
}
.notificationSection {
  position: relative;
}

.nav_search {
  display: none;
  justify-content: start;
  align-items: center;
  width: 300px;
}

.product_search_input {
  width: 100%;
  padding: 8px 5px;
  border: none;
  outline: none;
  font-size: 0.825rem;
  color: grey;
  background-color: #f9f9fa;
}

.product_search_input::placeholder {
  color: #99a0ac;
}

.nav_notifi_right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-right: 1.4rem;
}

.noti_container {
  background-color: white;
  position: absolute;
  top: 100%;
  right: 4%;
  width: 350px;
  border-radius: 5px;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.noti_top_wrapper {
  height: 250px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
.noti_top_wrapper::-webkit-scrollbar {
  display: none;
}
.noti_profile_wrapper:hover {
  background-color: rgba(135, 150, 165, 0.1);
  cursor: pointer !important;
}
.noti_top_wrapper::-webkit-scrollbar {
  display: none;
}

.noti_profile_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}
.noti_profile {
  width: 100%;
  font-size: 0.825rem;
  font-weight: 500;
  line-height: 20px;
  color: #5e676f;
  display: flex;
  flex-direction: column;
  cursor: pointer !important;
}
.noti_time {
  font-size: 11px !important;
  color: #99a0ac;
}
.noti_content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 4px;
  font-size: 0.825rem;
  color: #5e676f;
}
.noti_profile_text {
  width: 100%;
  font-size: 0.825rem;
  color: #5e676f;
  padding: 10px 14px;
  border-bottom: 1px solid #a0afb926;
}
.noti_profile_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
}
.noti_heading {
  color: #448bff !important;
}
.noti_error {
  font-size: 0.825rem;
  font-weight: 500;
  text-align: center;
  padding: 10px;
}
.noti_bottom_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px;
  cursor: pointer !important;
  border-top: 1px solid rgba(160, 175, 185, 0.15);
}

.noti_see_all_num {
  color: #5e676f;
  font-size: 0.825rem;
}

.noti_see_all_btn {
  color: #005ef7;
  font-size: 0.825rem;
  cursor: pointer !important;
}

.noti_see_all_btn:hover {
  color: #005ef7;
}
.dropdownText {
  font-size: 14.4px !important;
  color: #5e676f !important;
  cursor: pointer !important;
  display: flex !important;
  justify-content: space-between !important;
  width: 100%;
}
.profile_dropdown {
  background-color: white;
  position: absolute;
  z-index: 999;
  top: 120%;
  right: 2%;
  padding: 0px 0px;
  width: 200px;
  border-radius: 4px;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.profile_wrapper a {
  list-style: none;
  text-decoration: none;
  color: #5e676f;
  width: 100%;
  max-width: 90%;
}

.profile_text {
  text-transform: capitalize;
  font-size: 0.825rem;
  font-weight: 500;
  border-bottom: 1px solid rgba(160, 175, 185, 0.15);
  padding: 8px 14px;
}

.profile_text:hover {
  background-color: rgba(135, 150, 165, 0.1);
}

.invoice_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.invoice_container:hover {
  background-color: rgba(135, 150, 165, 0.1);
}

.total_invoice {
  color: #fff;
  border: none;
  background: #f4c414 linear-gradient(45deg, #f4c414, #f45414);
  width: 20px;
  height: 20px;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.profile_sign_out {
  color: #5e676f;
  padding: 8px 14px;
  font-size: 0.825rem;
  font-weight: 500;
  cursor: pointer !important;
}

.profile_sign_out:hover {
  background-color: rgba(135, 150, 165, 0.1);
}

.sidebar_container {
  display: flex;
  width: 100%;
  max-width: 100%;
  position: fixed;
  top: 46px;
}

.mainContainer {
  width: 87%;
  height: 100vh;
  padding: 10px 20px;
  background-color: #f9f9fa;
  transition: transform 0.3s ease;
}
#last_sidebar {
  margin-bottom: 10rem;
}
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-width: 240px !important;
  background-attachment: fixed;
  overflow: scroll;
  scrollbar-width: none;
  background: #f5f5f5;
  height: 100vh;
  transition: all 0.5s;
  padding: 20px;
  z-index: 4;
  cursor: pointer !important;
}
.sidebar::-webkit-scrollbar {
  display: none;
}
.top_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}

.bars {
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}

.sidebar_text {
  font-size: 14px;
  display: flex;
  color: #5e676f !important;
  gap: 10px;
  text-decoration: none;
  justify-content: start;
  align-items: center;
}

.sidebar_text:hover {
  color: #282f86;
}

.sidebar_text.active {
  background: lightskyblue;
  color: #000;
}

.accordion_content {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: start;
  width: 180px;
}

.desktop_order_btn {
  display: flex;
}

.mobile_order_btn {
  display: none;
}
.css-i4bv87-MuiSvgIcon-root {
  user-select: none !important;
  width: 20px !important;
  height: 20px !important;
}
.dropdown {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.dropdownContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 26px;
}
.icons {
  width: 10px !important;
}
.dropdownToggle {
  cursor: pointer !important;
  display: flex;
  gap: 10px;
  justify-content: start;
  align-items: center;
  color: #5e676f;
  font-size: 14px;
}

/* Media quries start from here */
@media screen and (max-width: 1420px) {
  .mainContainer {
    width: 82%;
  }
}

@media screen and (max-width: 1200px) {
  .mainContainer {
    width: 78.6%;
  }
}

@media screen and (max-width: 992px) {
  .nav_img .bar_icon {
    display: none;
  }
  .notificationSection {
    position: relative;
    display: flex;
    gap: 10px;
  }
  .mainContainer {
    width: 100%;
  }
  .sidebar {
    position: fixed;
    top: 0px;
    display: none !important;
  }

  .nav_icon_color_two_3 {
    display: block !important;
  }

  .nav_img {
    width: 180px;
  }

  main {
    max-width: 100%;
    transition: none;
  }

  .nav_container {
    z-index: 2;
  }

  .mobile_order_btn {
    display: block;
  }

  .desktop_order_btn {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .nav_wrapper {
    width: 100%;
    padding: 5px 0px;
  }

  .nav_search {
    padding: 0px 1rem;
  }

  .nav_notifi_right {
    padding-right: 0px;
  }

  .nav_search_container {
    justify-content: end;
  }

  .nav_search_one {
    display: none;
  }

  .nav_notifi_right .nav_icon_color_two {
    display: block;
  }
}

@media screen and (max-width: 500px) {
  .nav_search {
    width: 80vw;
  }
}
