.container {
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    overflow: scroll;
    row-gap: 20px;
    scrollbar-width: none;
}

.logisticsHeading {
    font-size: 20px;
    font-weight: 600;
}

.inner-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    position: relative;
    transition: all 0.3s ease-in-out;
}
.innerHeading {
    font-size: 18px;
    font-weight: 500;
}

.checkboxSection {
    display: flex;
    align-items: center;
}

.checkboxInput {
    margin-right: 8px;
    cursor: pointer !important;;
}

.checkboxLabel {
    font-size: 14px;
    color: #333;
    cursor: pointer !important;;
}

.formLogistics {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.formInnerClass {
    background-color: #fff;
    border-radius: 4px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
}

.logisticesInputSection {
    display: flex;
    flex-direction: column;
    justify-content: start;
    row-gap: 6px;
    width: 23.6%;
}
.logisticInputSection{
    display: flex;
    flex-direction: column;
    justify-content: start;
    row-gap: 6px;
    width: 26%; 
}
.formLabel {
    font-size: 14px;
    font-weight: 500;
}

.formInput {
    background-color: #fff !important;
    border: none !important;
    border-radius: 4px !important;
    box-shadow: 0 2px 5px -1px #32325d40, 0 1px 3px -1px #0000004d !important;
    font-size: 14px !important;
    outline: none !important;
    padding: 10px !important;
}

.formMaterialContainer {
    background-color: #fff;
    border-radius: 4px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
}

.logisticesDimensionSection {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    width: 42%;
}

.dimensionSections {
    display: flex;
    gap: 16px;
}

.formDimensions {
    background-color: #fff !important;
    border: none !important;
    border-radius: 4px !important;
    box-shadow: 0 2px 5px -1px #32325d40, 0 1px 3px -1px #0000004d !important;
    font-size: 14px !important;
    outline: none !important;
    padding: 10px !important;
    width: 40% !important;
}

.headBillSection {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.innerBillHead {
    font-size: 18px;
    font-weight: 500;
}

.innerAddButton {
    background: linear-gradient(270deg, #00dcff, #0075ce);
    border-radius: 4px;
    color: #fff;
    column-gap: 8px;
    cursor: pointer !important;
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 6px 16px;
    margin-right: 18px;
}

/* Style the address container */
.labelstamp {
    color: red;
}

.addressContainer {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.radioInnerContainer {
    display: flex;
    gap: 20px;
    align-items: center;
}

.radioGroup {
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    box-shadow: 0 2px 5px -1px #32325d40, 0 1px 3px -1px #0000004d !important;
    padding: 10px 14px;
}

.radioInput {
    cursor: pointer !important;;
}

.removeButton {
    display: flex;
    justify-content: end;
    align-items: center;
    cursor: pointer !important;;
    position: absolute; 
    top: 50%; 
    right: 16px;
    transform: translateY(-50%);
    cursor: pointer !important; 
}

.removeButtons {
    display: flex;
    justify-content: end;
    align-items: center;
    cursor: pointer !important;;
    position: absolute; 
    top: 50%; 
    right: 16px;
    transform: translateY(-50%);
    cursor: pointer !important; 
}

.crossButton {
    box-shadow: 0 2px 5px -1px #32325d40, 0 1px 3px -1px #0000004d !important;
    padding: 2px 8px;
    font-size: 13px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer !important;
}

/* END THE ADDRESS CONTAINER */

.logistic-Button-Section {
    display: flex;
    width: 100%;
    justify-content: center;
    column-gap: 20px;
    margin-top: 30px;
    margin-bottom:30rem;
}

.logistic-cancel {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05) !important;
    background-color: #ffffff;
    border: 1px solid #5e676f;
    color: #5e676f;
    padding: 6px 22px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer !important;;
}

.logistic-submit {
    border: none !important;
    outline: none !important;
    background: linear-gradient(to left, #00dcff, #0075ce);
    color: white;
    padding: 6px 22px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer !important;;
}

/* style the drop details card */
.logisticsCardContainer {
    width: 100%;
    display: flex;
    gap: 20px;
}

.logisticsMainHeading {
    font-size: 18px;
    font-weight: 500;
}

.adresssCardContainer {
    width: 50%;
    height: 200px;
    background-color: #fff;
    border-radius: 4px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
}

.nameContainer {
    display: flex;
    gap: 14px;
    align-items: center;
}

.addressText {
    font-size: 14px;
    color: #333;
    cursor: pointer !important;;
}

.typeAdresss {
    background-color: #f5f5f6;
    font-size: 10px;
    border-color: transparent;
    color: #5e676f;
    text-align: center;
    padding: 4px 8px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    font-weight: 600;
    cursor: pointer !important;;
}

.transportInnerSection {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}

.transportHead {
    font-size: 14px;
    font-weight: 500;
}

.transportText {
    font-size: 14px;
    color: #333;
}

/* End the drop details card */
/* style the supplier add address conatiner */
.innerHeadSection{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.innerButtons{
    background: linear-gradient(270deg, #00dcff, #0075ce);
    border-radius: 4px;
    color: #fff;
    column-gap: 8px;
    cursor: pointer !important;
    display: flex
;
    align-items: center;
    font-size: 14px;
    padding: 6px 16px;
}
/* end the supplier add address container */
/* style the pickup address container */
.logisticsAddCardContainer{
    display: flex;
        justify-content: start;
        gap: 20px;
}
.logisticsAddressPickupSection{
    width: 100%;
    display: flex;
    gap: 20px;
}
.adresssAddCardContainer{
    width: 50%;
    background-color: #fff;
    border-radius: 4px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
}
.LogisticsAddressCardContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.logisticsMainInnerSection{
    display: flex;
    gap: 20px;
}


/* End the pickup address container */
/* style the logistics card section */
.pickupContainer{
    width: 50%;
    background-color: #fff;
    border-radius: 4px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
}
.pickupHeadSection{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pickupHeading{
    font-size: 18px;
    font-weight: 500;
}
.pickupButton{
    background: linear-gradient(270deg, #00dcff, #0075ce);
    border-radius: 4px;
    color: #fff;
    column-gap: 8px;
    cursor: pointer !important;
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 4px 14px;
}
.pickupInnerContainer{
    width: 100%;
    display: flex;
        flex-direction: column;
        gap: 4px;
}
.pickupText{
    font-size: 14px;
    color: #333;
    cursor: pointer !important;
    display: flex
;
    gap: 16px;
    align-items: center;
}
.pickupAdd{
    background-color: #f5f5f6;
    font-size: 10px;
    border-color: transparent;
    color: #5e676f;
    text-align: center;
    padding: 4px 8px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    font-weight: 600;
    cursor: pointer !important;
}

/* end the logistics card section */
/* Style the address container */
.logisticAddressContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: start;
}
.logisticsAddressSection{
    width: 49%;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 26px 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
}
.logisticsAddressHead{
    font-size: 18px;
    font-weight: 500;
}
.logisticsAddressInnerSection{
    display: flex;
    justify-content: start;
    gap: 20px;
}
.logisticsAddCheckbox{
margin-top: 2px;
}
.logisticsAddHeadSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.actionButtons {
    display: flex;
    gap: 10px;
    align-items: center;
}

.logisticsAddressButton {
    background: linear-gradient(270deg, #00dcff, #0075ce);
    border-radius: 4px;
    color: #fff;
    column-gap: 8px;
    cursor: pointer !important;
    display: flex;
    align-items: center;
    font-size: 13px;
    padding: 3px 14px;
}
.deleteIcon {
    box-shadow: 0 2px 5px -1px #32325d40, 0 1px 3px -1px #0000004d !important;
    padding: 3px 8px;
    font-size: 24px;
    width: 40px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer !important;
    height: 26px;
}

/* End the address container */

@media screen and (max-width: 1350px) {
    .logisticsAddressSection {
        width: 48.2%;
    }
    .logisticesInputSection {
        width: 31.6%;
    }
}