.previewContainer {
  width: 100%;
  max-width: 96%;
  margin-right: auto;
  height: 100%;
  overflow-y: auto;
  background-attachment: fixed;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 100px;
}

.previewContainer::-webkit-scrollbar {
  display: none;
}

.tableHeader {
 width: 100%;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
 
  margin-bottom: 60px;
}

.successContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000 !important;
  width: 100%;
}

.buttonGroup {
  display: flex;
  column-gap: 15px;
}

.uploadButton {
 background: linear-gradient(to left, #00dcff, #0075ce);
  border-radius: 4px;
  color: #fff;
  cursor: pointer !important;
  font-size: 0.825rem;
  padding: 6px 8px;
  border: none;
  outline: none;
}

.tableContainer {
  flex: 1;
 
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;
}

.cell {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #848991fa;
}

.errorCell {
  border: 2px solid red !important;
  background-color: #ffe6e6;
  padding: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width:1360px){
  .previewContainer {
    width: 100%;
    max-width: 92%;
}
}
@media (max-width:1240px){
  .previewContainer {
    width: 100%;
    max-width: 89%;
}
}